<%= form_for @plugin do |f| %>

 <% if @plugin.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@plugin.errors.count, "error") %> prohibited
        this plugin from being saved:
      </h2>
      <ul>
        <% @plugin.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form">
  <p class="formp">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p class="formp">
    <%= f.label :year %><br>
    <%= f.text_field :year %>
  </p>

  <p class="formp">
    <%= f.label :creator %><br>
    <%= f.text_field :creator %>
  </p>

  <p class="formp">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  
  <p class="formp">
    <%= f.label :image_link %><br>
    <%= f.text_field :src %>
  </p>

  <p class="formp">
    <%= f.label :direct_link %><br>
    <%= f.text_field :direct_link %>
  </p>

<%= f.radio_button :category, 'Paid', :checked => "Paid" %>
<%= label :category, 'Paid' %>
<%= f.radio_button :category, 'Free', :checked => "Free" %>
<%= label :category, 'Free' %>

  <p>
    <%= f.submit %>
  </p>

<% end %>
</div>