<h1> New Plugin</h1>


<%= form_for @plugins_path do |f| %>

  <% if @plugin.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize (@plugin.errors.count, "error") %>
prohibited
      this article from being saved:
      </h2>
      <ul>
        <% @plugin.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :year %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :creator %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :text %>
  </p>
  
  <p>
    <%= f.label :video_Link %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :direct_Link %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', plugins_path %>
