<p>
  <strong>Name:</strong>
  <%= @plugin.name %>
</p>
 
<p>
  <strong>Year:</strong>
  <%= @plugin.year %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @plugin.creator %>
</p>

<p>
  <strong>Description:</strong>
  <%= @plugin.description %>
</p>

<p>
  <strong>Video_Link:</strong>
  <%= @plugin.src %>
</p>

<p>
  <strong>Direct_Link:</strong>
  <%= @plugin.direct_link %>
</p>

<p>
  <strong>Type:</strong>
  <%= @plugin.type %>
</p>

<h2>Comments</h2>
<%= render @plugin.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_plugin_path(@plugin) %> |
<%= link_to 'Back', plugins_path %>